.grid-cell-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background: dodgerblue;
  border-radius: .25rem;
  color: black;
}

.grid-cell-layout {
  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-template-rows: 3rem 1fr;
  grid-template-areas:
    "header header-options"
    "content content";
}

.grid-cell-header {
  grid-area: header;
  background: red;
}

.grid-cell-options {
  grid-area: header-options;
  background: green;
}

.grid-cell-content {
  grid-area: content;
  background: pink;
}