.wrapper {
  position: relative;
  width: 80vw;
  height: 75vh;
  margin-top: 2rem;
  border-radius: 4px;
  background: rgb(212, 233, 255);
  overflow: hidden;
}

.to-do-header {
  text-transform: capitalize;
  margin: 1rem 0 .5rem 0;
}

.to-do-list {
  padding: 0 0 0 1.5rem;
  list-style-type: circle;
}

.section-header {
  text-transform: capitalize;
}