* {
  border-radius: 4px;
}

.wrapper {
  position: relative;
  width: 70%;
  overflow: visible;
}

.box-example {
  position: absolute;
  top: 5.2rem;
  left: 7.2rem;
  width: 17.6rem;
  height: 11.9rem;
  border-color: rgb(52, 115, 179);
  background: white;
  border-style: solid;
  border-right-width: 7.4rem;
  border-left-width: 7.4rem;
  border-top-width: 5rem;
  border-bottom-width: 5rem;
  opacity: 1;
  padding: 5.9rem 8.7rem;
  font-family: Roboto;
}

.box-example.stage-two {
  opacity: 0;
  animation: fadeOut 1s ease-in;
}

.content-example {
  width: 100%;
  height: 100%;
  color: rgb(52, 115, 179);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.indicator {
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  border-radius: 8px;
  border: 4px dashed orange;
}

.wrapper:before {
  content: 'Margin';
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  text-transform: uppercase;
  color: rgb(52, 115, 179);
  font-weight: bold;
  font-size: 1.5rem;
}

.padding-container {
  position: relative;
  width: 80%;
  height: 80%;
  background: rgb(27, 99, 192);
  opacity: 1;
}

.padding-container:before {
  content: 'Border';
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  text-transform: uppercase;
  color: rgb(198, 211, 226);
  font-weight: bold;
  font-size: 1.5rem;
}

.border-container {
  position: relative;
  width: 70%;
  height: 70%;
  background: rgb(58, 129, 209);
  opacity: 1;
}

.border-container:before {
  content: 'Padding';
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  text-transform: uppercase;
  color: rgb(21, 72, 129);
  font-weight: bold;
  font-size: 1.5rem;
}

.content-container {
  position: relative;
  width: 50%;
  height: 50%;
  background: rgb(110, 166, 223);
  opacity: 1;
}

.content-container:before {
  content: 'Content';
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  text-transform: uppercase;
  color: rgb(1, 42, 88);
  font-weight: bold;
  font-size: 1.5rem;
}

.content-container span {
  opacity: 0.2;
}
