/* Add application styles & imports to this file! */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  font-family: Roboto;
}

body {
  background: rgb(177, 216, 255);
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
