/* Add application styles & imports to this file! */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background: rgb(66, 121, 177);
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
